<h1>Get Change!</h1>
<form action="/output">
  <div class="form-group">
     <label for="number">Enter an amount in cents to recieve your change:</label>
     <input id="number" name="number" class="form-control" type="number" min="1">
  </div>
  <button type="submit" class="btn-success">Give me my change!</button>
</form>
